{"openapi":"3.1.0","info":{"title":"AiSEO v1 Client API","version":"1.0","description":"Programmatic API for keyword ranking data, competitor analysis, and webhook management.\n\n## Authentication\n\nAll v1 endpoints require an API key. Create one in the dashboard under Settings > API Keys.\n\nInclude it in the Authorization header:\n```\nAuthorization: Bearer kt_live_abc123...\n```\n\n## Rate Limits\n\n| Endpoint Type | Limit | Window |\n|--------------|-------|--------|\n| All v1 endpoints | 100 | 1 minute |\n\nRate limit headers are included in all responses:\n- `X-RateLimit-Limit`: Maximum requests per window\n- `X-RateLimit-Remaining`: Requests remaining\n- `X-RateLimit-Reset`: Unix timestamp when window resets\n- `X-RateLimit-Resource`: Which limit bucket was used\n\n## Schema Versioning\n\nAll responses include `X-API-Schema-Version: 1.0` header. We will increment this for breaking changes.\n\n## Errors\n\nAll errors follow this format:\n```json\n{\n  \"success\": false,\n  \"error\": {\n    \"code\": \"ERROR_CODE\",\n    \"message\": \"Human-readable message\"\n  }\n}\n```\n\nCommon error codes: UNAUTHORIZED, FORBIDDEN, NOT_FOUND, VALIDATION_ERROR, RATE_LIMIT_EXCEEDED\n\n## Common Tasks\n\n| Task | Endpoint |\n|------|----------|\n| Get my domain authority (DA) | `GET /api/v1/domain-metrics` |\n| Compare my DA to competitors | `GET /api/v1/domain-metrics` (yours) + `GET /api/v1/competitors` (theirs) |\n| Side-by-side DA per keyword | `GET /api/v1/keywords/{id}` — includes `userDomainMetrics` |\n| SEO score with DA summary | `GET /api/v1/seo-score` |\n| Full SERP for a keyword | `GET /api/v1/keywords/{id}` or `GET /api/v1/keywords/{id}/serp` |\n| Find link building targets | `GET /api/v1/backlinks/opportunities` |\n| Dashboard overview | `GET /api/v1/overview` |\n| AI brand visibility | `GET /api/v1/ai-visibility` |\n| Run SEO audit on any URL | `POST /api/v1/page-audit` |","contact":{"name":"312 Elements Support","email":"support@312elements.com"},"license":{"name":"Proprietary — 312 Elements","url":"https://312elements.com/terms"}},"servers":[{"url":"https://seo.312elements.com","description":"Production"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Overview","description":"Dashboard summary in one call — positions, keywords, momentum, backlinks, site health"},{"name":"Keywords","description":"Keyword tracking, positions, SERP snapshots, and per-keyword authority comparison (your DA vs competitors)"},{"name":"Rankings","description":"Ranking analysis — position distribution, history, changes, and declining keywords"},{"name":"Competitors","description":"Competitor DA, PA, keyword overlap, share of voice, and detailed dossiers. For YOUR DA, see Domain Metrics."},{"name":"Opportunities","description":"Striking distance keywords, declining keywords, and vulnerable competitors you can overtake"},{"name":"Backlinks","description":"Your backlink profile — referring domains, activity, and link building opportunities sorted by DA"},{"name":"Site Health","description":"Technical SEO health monitoring — broken links, scores, and infrastructure checks"},{"name":"SERP Features","description":"SERP feature ownership, visibility, PAA questions, and opportunities"},{"name":"Export","description":"Bulk data export"},{"name":"Pages","description":"Page metadata and analysis"},{"name":"Image Analysis","description":"AI-powered image alt text and metadata"},{"name":"Webhooks","description":"Outbound event notifications"},{"name":"Events","description":"Activity feed — rank changes, new competitors, site issues"},{"name":"Alerts","description":"Rank alerts with type, severity, and read status"},{"name":"Issues","description":"Issue lifecycle — dismissals, snoozes, and task completions for declining/vulnerable keywords"},{"name":"Domain Metrics","description":"Your domain's authority scores — DA, PA, spam score, brand authority, backlink counts, and history"},{"name":"SEO Score","description":"Composite SEO score with component breakdown, plus your DA and brand authority"},{"name":"Keyword Suggestions","description":"Moz-generated and custom keyword suggestions"},{"name":"Uptime","description":"Uptime monitoring — sites, checks, incidents"},{"name":"Achievements","description":"Earned achievements and milestones"},{"name":"Recaps","description":"Weekly performance recaps"},{"name":"AI Visibility","description":"AI brand visibility — how AI models mention your brand, sentiment analysis, and competitor discovery"},{"name":"Reviews","description":"Google review scoreboard — your ratings and review count vs competitors"},{"name":"Content Pages","description":"Keyword planner — page-to-keyword assignments and position data"},{"name":"Markets","description":"Geographic market configuration — primary and dedicated zip codes"},{"name":"Recon","description":"Competitor ranking keywords discovered during onboarding"},{"name":"Page Audit","description":"On-demand SEO audit — 50+ signals for any URL"},{"name":"PAA Questions","description":"People Also Ask questions captured from SERP data, with which domain answers each"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"kt_live_*","description":"API key created in dashboard Settings → API Keys."}},"schemas":{"MarketsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"primary":{"$ref":"#/components/schemas/Market"},"dedicated":{"type":"array","items":{"$ref":"#/components/schemas/DedicatedMarket"},"description":"Dedicated zip markets (Team tier). Empty for Pro tier."},"limits":{"type":"object","properties":{"includedDedicatedZips":{"type":"integer","description":"Number of dedicated zips included in the tenant plan (0 for Pro, 3 for Team)."},"used":{"type":"integer","description":"Number of dedicated zips currently configured."}},"required":["includedDedicatedZips","used"]}},"required":["primary","dedicated","limits"]}},"required":["success","schemaVersion","data"]},"Market":{"type":["object","null"],"properties":{"id":{"type":"string","format":"uuid"},"city":{"type":["string","null"]},"state":{"type":["string","null"]},"zip":{"type":["string","null"]},"country":{"type":"string"}},"required":["id","city","state","zip","country"],"description":"Primary market for this tenant. Null if not yet configured."},"DedicatedMarket":{"allOf":[{"$ref":"#/components/schemas/Market"},{"type":"object","properties":{"isAddon":{"type":"boolean","description":"Whether this is a paid add-on zip (vs included in plan)"}},"required":["isAddon"]}]},"ErrorEnvelope":{"type":"object","properties":{"success":{"type":"boolean","enum":[false]},"error":{"type":"object","properties":{"code":{"type":"string"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{}}},"required":["code","message"]},"retryAfter":{"type":"integer"},"correlationId":{"type":"string"}},"required":["success","error"]},"AlertReadResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"alertId":{"type":"string","format":"uuid","description":"The alert that was marked read"}},"required":["alertId"]}},"required":["success","schemaVersion","data"]},"AlertsListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/Alert"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"Alert":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"keywordId":{"type":"string","format":"uuid"},"keywordPhrase":{"type":"string"},"alertType":{"type":"string","description":"e.g., position_drop, traffic_drop"},"severity":{"type":"string","description":"low | medium | high"},"message":{"type":"string"},"details":{"type":"object","additionalProperties":{},"description":"Alert-type-specific structured details"},"isRead":{"type":"boolean"},"createdAt":{"type":"string","description":"ISO 8601 timestamp"}},"required":["id","keywordId","keywordPhrase","alertType","severity","message","details","isRead","createdAt"]},"Pagination":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"}},"required":["total","limit","offset","hasMore"]},"AlertsBulkReadResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"requested":{"type":"integer","minimum":0,"description":"Number of alert IDs the client sent"},"updated":{"type":"integer","minimum":0,"description":"Number of alerts newly marked read"},"alreadyRead":{"type":"integer","minimum":0,"description":"Alerts that were already in the read state"}},"required":["requested","updated","alreadyRead"]}},"required":["success","schemaVersion","data"]},"WebhooksListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/WebhookListItem"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"WebhookListItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"secret":{"type":"string","description":"First 4 characters of the secret followed by `...`"},"event_types":{"type":"array","items":{"type":"string"}},"categories":{"type":"array","items":{"type":"string"}},"min_priority":{"type":"integer","description":"Numeric priority floor; matched against event priority"},"is_active":{"type":"boolean"},"total_deliveries":{"type":"integer","minimum":0},"successful_deliveries":{"type":"integer","minimum":0},"failed_deliveries":{"type":"integer","minimum":0},"last_triggered_at":{"type":["string","null"]},"last_success_at":{"type":["string","null"]},"last_failure_at":{"type":["string","null"]},"consecutive_failures":{"type":"integer","minimum":0},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","name","url","secret","event_types","categories","min_priority","is_active","total_deliveries","successful_deliveries","failed_deliveries","last_triggered_at","last_success_at","last_failure_at","consecutive_failures","created_at","updated_at"]},"WebhookCreateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"secret":{"type":"string","description":"Full webhook secret — only returned on creation. Store immediately."},"event_types":{"type":"array","items":{"type":"string"}},"categories":{"type":"array","items":{"type":"string"}},"min_priority":{"type":"integer"},"is_active":{"type":"boolean"},"created_at":{"type":"string"},"testResult":{"type":["object","null"],"properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer"},"error":{"type":"string"},"responseTime":{"type":"number"}},"required":["success"],"description":"Present when `test_on_create=true` was passed in the request body"}},"required":["id","name","url","secret","event_types","categories","min_priority","is_active","created_at","testResult"]}},"required":["success","schemaVersion","data"]},"WebhookGetResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"secret":{"type":"string","description":"First 4 characters of the secret followed by `...`"},"event_types":{"type":"array","items":{"type":"string"}},"categories":{"type":"array","items":{"type":"string"}},"min_priority":{"type":"integer"},"is_active":{"type":"boolean"},"total_deliveries":{"type":"integer","minimum":0},"successful_deliveries":{"type":"integer","minimum":0},"failed_deliveries":{"type":"integer","minimum":0},"last_triggered_at":{"type":["string","null"]},"last_success_at":{"type":["string","null"]},"last_failure_at":{"type":["string","null"]},"last_error":{"type":["string","null"]},"consecutive_failures":{"type":"integer","minimum":0},"created_at":{"type":"string"},"updated_at":{"type":"string"}},"required":["id","name","url","secret","event_types","categories","min_priority","is_active","total_deliveries","successful_deliveries","failed_deliveries","last_triggered_at","last_success_at","last_failure_at","last_error","consecutive_failures","created_at","updated_at"]}},"required":["success","schemaVersion","data"]},"WebhookUpdateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"secret":{"type":"string","description":"First 4 characters of the secret followed by `...`"},"event_types":{"type":"array","items":{"type":"string"}},"categories":{"type":"array","items":{"type":"string"}},"min_priority":{"type":"integer"},"is_active":{"type":"boolean"},"updated_at":{"type":"string"}},"required":["id","name","url","secret","event_types","categories","min_priority","is_active","updated_at"]}},"required":["success","schemaVersion","data"]},"WebhookDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"deleted":{"type":"boolean","enum":[true]}},"required":["deleted"]}},"required":["success","schemaVersion","data"]},"WebhookTestResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"webhookId":{"type":"string","format":"uuid"},"testResult":{"type":"object","properties":{"success":{"type":"boolean"},"statusCode":{"type":"integer"},"error":{"type":"string"},"responseTime":{"type":"number"}},"required":["success"]}},"required":["webhookId","testResult"]}},"required":["success","schemaVersion","data"]},"IssuesCompletePostResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"completedAt":{"type":"string","description":"ISO 8601 timestamp the completion was recorded"},"mutedUntil":{"type":"string","description":"ISO 8601 timestamp; the issue is hidden from active lists until this time"},"promptTemplateSlug":{"type":"string","description":"Resolved prompt-template slug used for this completion"}},"required":["completedAt","mutedUntil","promptTemplateSlug"]}},"required":["success","schemaVersion","data"]},"IssuesCompleteListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/TaskCompletion"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"TaskCompletion":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"issueType":{"type":"string","enum":["declining","vulnerable"]},"issueCode":{"type":"string"},"completedAt":{"type":"string"},"completedBy":{"type":["string","null"],"description":"UUID of the user/api-key creator that completed it; null if attribution missing"},"promptTemplateSlug":{"type":["string","null"],"description":"Resolved prompt-template slug; null if not derivable"}},"required":["id","issueType","issueCode","completedAt","completedBy","promptTemplateSlug"]},"IssuesDismissListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"$ref":"#/components/schemas/DismissedCodesByType"},"total":{"type":"integer","minimum":0,"description":"Total dismissed codes across all returned types"}},"required":["success","schemaVersion","data","total"]},"DismissedCodesByType":{"type":"object","properties":{"fix_queue":{"type":"array","items":{"type":"string"}},"declining":{"type":"array","items":{"type":"string"}},"vulnerable":{"type":"array","items":{"type":"string"}}},"description":"Map of issue-type → array of dismissed issue codes"},"IssuesDismissPostResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"snoozed":{"type":"boolean","description":"true if the issue was snoozed (timed dismissal); false if permanently dismissed"}},"required":["snoozed"]}},"required":["success","schemaVersion","data"]},"IssuesDismissDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"restored":{"type":"boolean","enum":[true]}},"required":["restored"]}},"required":["success","schemaVersion","data"]},"KeywordsListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["3"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/KeywordMembership"}},"pagination":{"$ref":"#/components/schemas/Pagination"},"counts":{"$ref":"#/components/schemas/KeywordsListCounts"}},"required":["success","schemaVersion","data","pagination","counts"]},"KeywordMembership":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"state":{"type":"string","enum":["queued","active","removing"]},"firstTrackedAt":{"type":"string"},"lastFetchedAt":{"type":["string","null"]},"displayName":{"type":["string","null"]},"currentPosition":{"type":["integer","null"]},"url":{"type":["string","null"]},"previousPosition":{"type":["integer","null"]},"positionChange":{"type":["integer","null"]},"positionChange7d":{"type":["integer","null"]},"positionChange30d":{"type":["integer","null"]},"bestPosition":{"type":["integer","null"]},"worstPosition":{"type":["integer","null"]},"volume":{"type":["number","null"]},"difficulty":{"type":["number","null"]},"organicCtr":{"type":["number","null"]},"intent":{"type":["string","null"]},"competitorCount":{"type":"integer"},"sparkline":{"type":["array","null"],"items":{"$ref":"#/components/schemas/SparklinePoint"}}},"required":["id","phrase","state","firstTrackedAt","lastFetchedAt","displayName","currentPosition","url","previousPosition","positionChange","positionChange7d","positionChange30d","bestPosition","worstPosition","volume","difficulty","organicCtr","intent","competitorCount","sparkline"]},"SparklinePoint":{"type":"object","properties":{"date":{"type":"string"},"position":{"type":["integer","null"]}},"required":["date","position"]},"KeywordsListCounts":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"active":{"type":"integer","minimum":0},"queued":{"type":"integer","minimum":0},"removing":{"type":"integer","minimum":0},"countedAgainstLimit":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0}},"required":["total","active","queued","removing","countedAgainstLimit","limit"]},"KeywordCreateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"status":{"type":"string","enum":["active","queued"]},"used":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0},"note":{"type":"string"}},"required":["id","phrase","status","used","limit","note"]}},"required":["success","schemaVersion","data"]},"KeywordDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"keyword":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"state":{"type":"string","enum":["queued","active","removing"]},"currentPosition":{"type":["integer","null"]},"rankingUrl":{"type":["string","null"]},"lastFetched":{"type":["string","null"]},"bestPosition":{"type":["integer","null"]},"worstPosition":{"type":["integer","null"]}},"required":["id","phrase","state","currentPosition","rankingUrl","lastFetched","bestPosition","worstPosition"]},"serpResults":{"type":"array","items":{"type":"object","properties":{"position":{"type":"integer"},"title":{"type":"string"},"url":{"type":"string"},"domain":{"type":"string"},"description":{"type":"string"},"isOwnSite":{"type":"boolean"},"positionHistory":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"position":{"type":"integer"}},"required":["date","position"]}}},"required":["position","title","url","domain","description","isOwnSite","positionHistory"]}},"competitors":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"position":{"type":["integer","null"]},"domainAuthority":{"type":["number","null"]},"pageAuthority":{"type":["number","null"]},"spamScore":{"type":["number","null"]},"backlinkCount":{"type":["number","null"]},"referringDomains":{"type":["number","null"]},"brandAuthority":{"type":["number","null"]}},"required":["domain","position","domainAuthority","pageAuthority","spamScore","backlinkCount","referringDomains","brandAuthority"]}},"sparkline30d":{"type":"array","items":{"$ref":"#/components/schemas/SparklinePoint"}},"sparkline180d":{"type":"array","items":{"$ref":"#/components/schemas/SparklinePoint"}},"mozMetrics":{"type":["object","null"],"properties":{"priority":{"type":["number","null"]},"difficulty":{"type":["number","null"]},"organicCtr":{"type":["number","null"]},"primaryIntent":{"type":["string","null"]},"intentBreakdown":{"type":"object","properties":{"navigational":{"type":["number","null"]},"informational":{"type":["number","null"]},"commercial":{"type":["number","null"]},"transactional":{"type":["number","null"]}},"required":["navigational","informational","commercial","transactional"]}},"required":["priority","difficulty","organicCtr","primaryIntent","intentBreakdown"]},"serpFeatures":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"data":{}},"required":["type"]}},"userDomainMetrics":{"type":["object","null"],"properties":{"domain":{"type":"string"},"domainAuthority":{"type":["number","null"]},"domainAuthorityHistory":{"type":["array","null"],"items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"]}},"pageAuthority":{"type":["number","null"]},"spamScore":{"type":["number","null"]},"backlinkCount":{"type":["number","null"]},"backlinkHistory":{"type":["array","null"],"items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"]}},"referringDomains":{"type":["number","null"]},"referringDomainsHistory":{"type":["array","null"],"items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"]}},"brandAuthority":{"type":["number","null"]}},"required":["domain","domainAuthority","domainAuthorityHistory","pageAuthority","spamScore","backlinkCount","backlinkHistory","referringDomains","referringDomainsHistory","brandAuthority"]},"userBrandAuthority":{"type":["number","null"]}},"required":["keyword","serpResults","competitors","sparkline30d","sparkline180d","mozMetrics","serpFeatures","userDomainMetrics","userBrandAuthority"]}},"required":["success","schemaVersion","data"]},"KeywordDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"state":{"type":"string","enum":["removing"]},"pendingRemoval":{"type":"boolean"},"note":{"type":"string"},"warning":{"type":"string"}},"required":["id","phrase","pendingRemoval","note","warning"]}},"required":["success","schemaVersion","data"]},"KeywordCompetitorsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"type":"object","properties":{"domain":{"type":"string"},"position":{"type":"integer"},"domainAuthority":{"type":["number","null"]}},"required":["domain","position","domainAuthority"]}},"total":{"type":"integer","minimum":0,"description":"Total competitors fetched (may exceed `data.length` after limit)"}},"required":["success","schemaVersion","data","total"]},"KeywordHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"keywordId":{"type":"string","format":"uuid"},"days":{"type":"integer"},"history":{"type":"array","items":{"$ref":"#/components/schemas/SparklinePoint"}}},"required":["keywordId","days","history"]}},"required":["success","schemaVersion","data"]},"KeywordSerpResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"keyword":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"}},"required":["id","phrase"]},"fetchedAt":{"type":["string","null"]},"results":{"type":"array","items":{"type":"object","properties":{"position":{"type":"integer"},"title":{"type":"string"},"url":{"type":"string"},"domain":{"type":"string"},"description":{"type":"string"},"isOwnSite":{"type":"boolean"}},"required":["position","title","url","domain","description","isOwnSite"]}},"features":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"data":{}},"required":["type"]}}},"required":["keyword","fetchedAt","results","features"]}},"required":["success","schemaVersion","data"]},"KeywordSchachtResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"keyword":{"$ref":"#/components/schemas/SchachtKeyword"},"competitors":{"type":"array","items":{"$ref":"#/components/schemas/SchachtCompetitor"}},"serpLeaderboard":{"type":"array","items":{"$ref":"#/components/schemas/SchachtLeaderboardEntry"}},"paaQuestions":{"type":"array","items":{"$ref":"#/components/schemas/SchachtPaaQuestion"}},"suggestions":{"type":"array","items":{"$ref":"#/components/schemas/SchachtSuggestion"}},"serpFeatures":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string"},"data":{}},"required":["type"]}},"refreshedAt":{"type":["string","null"]}},"required":["keyword","competitors","serpLeaderboard","paaQuestions","suggestions","serpFeatures","refreshedAt"]}},"required":["success","schemaVersion","data"]},"SchachtKeyword":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"currentPosition":{"type":["integer","null"]},"rankingUrl":{"type":["string","null"]},"lastFetched":{"type":["string","null"]},"marketId":{"type":["string","null"],"format":"uuid"}},"required":["id","phrase","currentPosition","rankingUrl","lastFetched","marketId"]},"SchachtCompetitor":{"type":"object","properties":{"position":{"type":"integer"},"domain":{"type":"string"},"url":{"type":"string"},"domainAuthority":{"type":["number","null"]},"pageAuthority":{"type":["number","null"]},"page":{"$ref":"#/components/schemas/SchachtPage"}},"required":["position","domain","url","domainAuthority","pageAuthority","page"]},"SchachtPage":{"type":["object","null"],"properties":{"title":{"type":["string","null"]},"metaDescription":{"type":["string","null"]},"h1":{"type":["string","null"]},"headings":{"type":"array","items":{}},"wordCount":{"type":"integer"},"schemaTypes":{"type":["array","null"],"items":{"type":"string"}},"schemas":{"type":"array","items":{}},"imageAlts":{"type":"array","items":{}},"internalLinkCount":{"type":"integer"},"externalLinkCount":{"type":"integer"},"canonicalUrl":{"type":["string","null"]},"bodyText":{"type":["string","null"]}},"required":["title","metaDescription","h1","headings","wordCount","schemaTypes","schemas","imageAlts","internalLinkCount","externalLinkCount","canonicalUrl","bodyText"]},"SchachtLeaderboardEntry":{"type":"object","properties":{"domain":{"type":"string"},"position":{"type":"integer"},"domainAuthority":{"type":["number","null"]},"pageAuthority":{"type":["number","null"]},"isTenant":{"type":"boolean"}},"required":["domain","position","domainAuthority","pageAuthority","isTenant"]},"SchachtPaaQuestion":{"type":"object","properties":{"question":{"type":"string"},"answerPreview":{"type":["string","null"]},"answeringDomain":{"type":["string","null"]},"isAnsweredByUs":{"type":"boolean"}},"required":["question","answerPreview","answeringDomain","isAnsweredByUs"]},"SchachtSuggestion":{"type":"object","properties":{"phrase":{"type":"string"},"occurrenceCount":{"type":"integer"}},"required":["phrase","occurrenceCount"]},"RankingsListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["3"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/Ranking"}},"distribution":{"$ref":"#/components/schemas/PositionDistribution"},"rankingCount":{"type":"integer","minimum":0}},"required":["items","distribution","rankingCount"]},"pagination":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"}},"required":["total","limit","offset","hasMore"]}},"required":["success","schemaVersion","data","pagination"]},"Ranking":{"type":"object","properties":{"keywordId":{"type":"string","format":"uuid"},"keyword":{"type":"string"},"position":{"type":"integer"},"url":{"type":"string"},"previousPosition":{"type":["integer","null"]},"positionChange":{"type":["integer","null"]}},"required":["keywordId","keyword","position","url","previousPosition","positionChange"]},"PositionDistribution":{"type":"object","properties":{"position1":{"type":"integer","minimum":0},"position2_3":{"type":"integer","minimum":0},"position4_10":{"type":"integer","minimum":0},"position11_20":{"type":"integer","minimum":0},"position21Plus":{"type":"integer","minimum":0},"notRanking":{"type":"integer","minimum":0}},"required":["position1","position2_3","position4_10","position11_20","position21Plus","notRanking"]},"RankingsChangesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/RecentChange"}}},"required":["success","schemaVersion","data"]},"RecentChange":{"type":"object","properties":{"keyword":{"type":"string"},"type":{"type":"string","enum":["improvement","decline","new","lost"]},"oldPosition":{"type":["integer","null"]},"newPosition":{"type":["integer","null"]},"change":{"type":"integer"},"date":{"type":"string"}},"required":["keyword","type","oldPosition","newPosition","change","date"]},"RankingsDecliningResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/DecliningKeyword"}},"pagination":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"}},"required":["total","limit","offset","hasMore"]}},"required":["success","schemaVersion","data","pagination"]},"DecliningKeyword":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"currentPosition":{"type":["integer","null"]},"previousPosition":{"type":"integer"},"positionChange":{"type":"integer"},"lastChecked":{"type":"string"},"droppedOff":{"type":"boolean","description":"True when fetched but tenant no longer in SERP"},"dismissed":{"type":"boolean"}},"required":["id","phrase","currentPosition","previousPosition","positionChange","lastChecked","dismissed"]},"RankingsHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["3"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/RankingHistoryRow"}},"meta":{"type":"object","properties":{"days":{"type":"integer"},"totalEntries":{"type":"integer","minimum":0},"keywordCount":{"type":"integer","minimum":0},"dateRange":{"type":"object","properties":{"from":{"type":"string"},"to":{"type":"string"}},"required":["from","to"]}},"required":["days","totalEntries","keywordCount","dateRange"]}},"required":["items","meta"]}},"required":["success","schemaVersion","data"]},"RankingHistoryRow":{"type":"object","properties":{"keywordId":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"state":{"type":"string","enum":["active","removing"]},"date":{"type":"string"},"position":{"type":"integer"},"url":{"type":["string","null"]}},"required":["keywordId","phrase","state","date","position","url"]},"CompetitorsListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["3"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/CompetitorListItem"}},"summary":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"averageDomainAuthority":{"type":["number","null"]}},"required":["total","averageDomainAuthority"]},"shareOfVoice":{"type":"array","items":{"$ref":"#/components/schemas/ShareOfVoiceEntry"}}},"required":["items","summary"]},"pagination":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"}},"required":["total","limit","offset","hasMore"]}},"required":["success","schemaVersion","data","pagination"]},"CompetitorListItem":{"type":"object","properties":{"domain":{"type":"string"},"companyName":{"type":["string","null"]},"domainAuthority":{"type":"number"},"pageAuthority":{"type":"number"},"spamScore":{"type":"number"},"brandAuthority":{"type":["number","null"]},"keywordsRankedFor":{"type":"integer","minimum":0},"avgPosition":{"type":"number"},"shareOfVoice":{"type":"number"},"lastSeenAt":{"type":"string"}},"required":["domain","companyName","domainAuthority","pageAuthority","spamScore","brandAuthority","keywordsRankedFor","avgPosition","shareOfVoice","lastSeenAt"]},"ShareOfVoiceEntry":{"type":"object","properties":{"domain":{"type":"string"},"companyName":{"type":["string","null"]},"top3":{"type":"integer","minimum":0},"top10":{"type":"integer","minimum":0},"totalTop10":{"type":"integer","minimum":0},"avgPosition":{"type":["number","null"]},"rank":{"type":"integer","exclusiveMinimum":0}},"required":["domain","companyName","top3","top10","totalTop10","avgPosition","rank"]},"CompetitorDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"info":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"domain":{"type":"string"},"companyName":{"type":["string","null"]},"firstSeen":{"type":"string"},"lastSeen":{"type":"string"}},"required":["id","domain","companyName","firstSeen","lastSeen"]},"metrics":{"type":["object","null"],"properties":{"domainAuthority":{"type":["number","null"]},"pageAuthority":{"type":["number","null"]},"spamScore":{"type":["number","null"]},"linkingRootDomains":{"type":["number","null"]},"backlinkCount":{"type":["number","null"]},"fetchedAt":{"type":["string","null"]}},"required":["domainAuthority","pageAuthority","spamScore","linkingRootDomains","backlinkCount","fetchedAt"]},"intelligence":{"type":["object","null"],"properties":{"brandAuthority":{"type":["number","null"]},"rankingKeywordTotal":{"type":["number","null"]},"rankingKeywordTop10":{"type":["number","null"]},"rankingKeywordTop20":{"type":["number","null"]},"rankingKeywordTop50":{"type":["number","null"]},"topPages":{"type":["array","null"],"items":{}},"metricsHistory":{},"fetchedAt":{"type":["string","null"]}},"required":["brandAuthority","rankingKeywordTotal","rankingKeywordTop10","rankingKeywordTop20","rankingKeywordTop50","topPages","fetchedAt"]},"siteHealth":{"type":["object","null"],"properties":{"sitemapExists":{"type":["boolean","null"]},"sitemapUrl":{"type":["string","null"]},"sitemapUrlCount":{"type":["integer","null"]},"sitemapStaleDays":{"type":["integer","null"]},"robotsExists":{"type":["boolean","null"]},"robotsAllowsAll":{"type":["boolean","null"]},"robotsBlocksAi":{"type":["boolean","null"]},"llmsTxtExists":{"type":["boolean","null"]},"schemaTypes":{"type":"array","items":{"type":"string"}},"healthScore":{"type":["number","null"]},"issues":{"type":"array","items":{"type":"object","properties":{"code":{"type":"string"},"severity":{"type":"string"},"message":{"type":"string"}},"required":["code","severity","message"]}},"checkedAt":{"type":["string","null"]}},"required":["sitemapExists","sitemapUrl","sitemapUrlCount","sitemapStaleDays","robotsExists","robotsAllowsAll","robotsBlocksAi","llmsTxtExists","schemaTypes","healthScore","issues","checkedAt"]},"stats":{"type":"object","properties":{"keywordsOverlapping":{"type":"integer","minimum":0},"keywordsAhead":{"type":"integer","minimum":0},"keywordsBehind":{"type":"integer","minimum":0},"keywordsTied":{"type":"integer","minimum":0},"pagesAnalyzed":{"type":"integer","minimum":0},"pageSpeedScores":{"type":"integer","minimum":0}},"required":["keywordsOverlapping","keywordsAhead","keywordsBehind","keywordsTied","pagesAnalyzed","pageSpeedScores"]},"pages":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"title":{"type":["string","null"]},"titleLength":{"type":["integer","null"]},"metaDescription":{"type":["string","null"]},"metaDescriptionLength":{"type":["integer","null"]},"h1":{"type":["string","null"]},"h1Count":{"type":"integer","minimum":0},"wordCount":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"headings":{"type":["array","null"],"items":{"type":"object","properties":{"text":{"type":"string"},"level":{"type":"integer"}},"required":["text","level"]}},"schemas":{"type":["array","null"],"items":{}},"imageAlts":{"type":["array","null"],"items":{"type":"string"}},"images":{"type":["array","null"],"items":{"type":"object","properties":{"src":{"type":"string"},"alt":{"type":"string"}},"required":["src","alt"]}},"internalLinkCount":{"type":["integer","null"]},"externalLinkCount":{"type":["integer","null"]},"internalLinks":{"type":["array","null"],"items":{"type":"string"}},"externalLinks":{"type":["array","null"],"items":{"type":"string"}},"canonicalUrl":{"type":["string","null"]},"bodyText":{"type":["string","null"]},"bodyHtml":{"type":["string","null"]},"fetchedAt":{"type":"string"}},"required":["url","title","titleLength","metaDescription","metaDescriptionLength","h1","h1Count","wordCount","schemaTypes","headings","schemas","imageAlts","images","internalLinkCount","externalLinkCount","internalLinks","externalLinks","canonicalUrl","bodyText","bodyHtml","fetchedAt"]}},"pageSpeed":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"strategy":{"type":"string"},"performanceScore":{"type":["number","null"]},"lcpMs":{"type":["number","null"]},"fidMs":{"type":["number","null"]},"cls":{"type":["number","null"]},"fcpMs":{"type":["number","null"]},"ttfbMs":{"type":["number","null"]},"ttiMs":{"type":["number","null"]},"fetchedAt":{"type":"string"}},"required":["url","strategy","performanceScore","lcpMs","fidMs","cls","fcpMs","ttfbMs","ttiMs","fetchedAt"]}},"keywordOverlap":{"type":"array","items":{"type":"object","properties":{"keywordId":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"competitorPosition":{"type":"integer"},"userPosition":{"type":["integer","null"]},"positionDifference":{"type":["integer","null"]},"competitorUrl":{"type":["string","null"]},"userUrl":{"type":["string","null"]}},"required":["keywordId","phrase","competitorPosition","userPosition","positionDifference","competitorUrl","userUrl"]}},"isTenant":{"type":"boolean"}},"required":["info","metrics","intelligence","siteHealth","stats","pages","pageSpeed","keywordOverlap","isTenant"]}},"required":["success","schemaVersion","data"]},"CompetitorKeywordsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/CompetitorKeywordOverlap"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"CompetitorKeywordOverlap":{"type":"object","properties":{"keywordId":{"type":"string","format":"uuid"},"keyword":{"type":"string"},"competitorPosition":{"type":"integer"},"ourPosition":{"type":["integer","null"]},"positionGap":{"type":["integer","null"]}},"required":["keywordId","keyword","competitorPosition","ourPosition","positionGap"]},"CompetitorMetricsHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/CompetitorMetricsHistoryEntry"}}},"required":["success","schemaVersion","data"]},"CompetitorMetricsHistoryEntry":{"type":"object","properties":{"date":{"type":"string"},"domainAuthority":{"type":"number"},"pageAuthority":{"type":"number"}},"required":["date","domainAuthority","pageAuthority"]},"ShareOfVoiceResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/ShareOfVoiceLeaderboardEntry"}}},"required":["success","schemaVersion","data"]},"ShareOfVoiceLeaderboardEntry":{"type":"object","properties":{"domain":{"type":"string"},"total_top10":{"type":"integer","minimum":0},"top3":{"type":"integer","minimum":0},"top10":{"type":"integer","minimum":0},"avg_position":{"type":"number"},"rank":{"type":"integer","exclusiveMinimum":0}},"required":["domain","total_top10","top3","top10","avg_position","rank"]},"PagesListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/PageSummary"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"PageSummary":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"metaDescription":{"type":["string","null"]},"h1":{"type":["string","null"]},"canonicalUrl":{"type":["string","null"]},"wordCount":{"type":"integer","minimum":0},"h1Count":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"internalLinkCount":{"type":"integer","minimum":0},"externalLinkCount":{"type":"integer","minimum":0},"fetchedAt":{"type":"string"}},"required":["id","url","domain","title","metaDescription","h1","canonicalUrl","wordCount","h1Count","schemaTypes","internalLinkCount","externalLinkCount","fetchedAt"]},"PagesCompareResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"page1":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"titleLength":{"type":"integer","minimum":0},"metaDescription":{"type":["string","null"]},"metaDescriptionLength":{"type":"integer","minimum":0},"h1":{"type":["string","null"]},"h1Count":{"type":"integer","minimum":0},"wordCount":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"headings":{"type":"array","items":{"type":"object","properties":{"level":{"type":"integer"},"text":{"type":"string"}},"required":["level","text"]}},"schemas":{"type":"array","items":{}},"imageAlts":{"type":"array","items":{"type":"string"}},"internalLinkCount":{"type":"integer"},"externalLinkCount":{"type":"integer"},"canonicalUrl":{"type":["string","null"]},"ogImage":{"type":["string","null"]},"ogTitle":{"type":["string","null"]},"ogDescription":{"type":["string","null"]},"bodyText":{"type":["string","null"]},"fetchedAt":{"type":"string"}},"required":["id","url","domain","title","titleLength","metaDescription","metaDescriptionLength","h1","h1Count","wordCount","schemaTypes","headings","schemas","imageAlts","internalLinkCount","externalLinkCount","canonicalUrl","ogImage","ogTitle","ogDescription","bodyText","fetchedAt"]},"page2":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"titleLength":{"type":"integer","minimum":0},"metaDescription":{"type":["string","null"]},"metaDescriptionLength":{"type":"integer","minimum":0},"h1":{"type":["string","null"]},"h1Count":{"type":"integer","minimum":0},"wordCount":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"headings":{"type":"array","items":{"type":"object","properties":{"level":{"type":"integer"},"text":{"type":"string"}},"required":["level","text"]}},"schemas":{"type":"array","items":{}},"imageAlts":{"type":"array","items":{"type":"string"}},"internalLinkCount":{"type":"integer"},"externalLinkCount":{"type":"integer"},"canonicalUrl":{"type":["string","null"]},"ogImage":{"type":["string","null"]},"ogTitle":{"type":["string","null"]},"ogDescription":{"type":["string","null"]},"bodyText":{"type":["string","null"]},"fetchedAt":{"type":"string"}},"required":["id","url","domain","title","titleLength","metaDescription","metaDescriptionLength","h1","h1Count","wordCount","schemaTypes","headings","schemas","imageAlts","internalLinkCount","externalLinkCount","canonicalUrl","ogImage","ogTitle","ogDescription","bodyText","fetchedAt"]},"comparison":{"type":"object","properties":{"wordCountDiff":{"type":"integer"},"h1CountDiff":{"type":"integer"},"titleLengthDiff":{"type":"integer"},"metaDescriptionLengthDiff":{"type":"integer"},"internalLinkDiff":{"type":"integer"},"externalLinkDiff":{"type":"integer"},"schemaTypesOnlyIn1":{"type":"array","items":{"type":"string"}},"schemaTypesOnlyIn2":{"type":"array","items":{"type":"string"}},"schemaTypesInBoth":{"type":"array","items":{"type":"string"}}},"required":["wordCountDiff","h1CountDiff","titleLengthDiff","metaDescriptionLengthDiff","internalLinkDiff","externalLinkDiff","schemaTypesOnlyIn1","schemaTypesOnlyIn2","schemaTypesInBoth"]}},"required":["page1","page2","comparison"]}},"required":["success","schemaVersion","data"]},"PagesIssuesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"orphanPages":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"title":{"type":"string"}},"required":["url","title"]},"description":"Present when type=orphan or type=all"},"duplicateTitles":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"title":{"type":"string"},"h1":{"type":"string"},"duplicateCount":{"type":"integer"}},"required":["url","title","h1","duplicateCount"]},"description":"Present when type=duplicate_titles or type=all"},"duplicateDescriptions":{"type":"array","items":{"type":"object","properties":{"sharedDescription":{"type":"string"},"pages":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"h1":{"type":"string"}},"required":["url","h1"]}}},"required":["sharedDescription","pages"]},"description":"Present when type=duplicate_descriptions or type=all"}}}},"required":["success","schemaVersion","data"]},"PageDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"titleLength":{"type":"integer","minimum":0},"metaDescription":{"type":["string","null"]},"metaDescriptionLength":{"type":"integer","minimum":0},"h1":{"type":["string","null"]},"h1Count":{"type":"integer","minimum":0},"wordCount":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"headings":{"type":"array","items":{"type":"object","properties":{"level":{"type":"integer"},"text":{"type":"string"}},"required":["level","text"]}},"schemas":{"type":"array","items":{}},"imageAlts":{"type":"array","items":{"type":"string"}},"internalLinkCount":{"type":"integer"},"externalLinkCount":{"type":"integer"},"canonicalUrl":{"type":["string","null"]},"ogImage":{"type":["string","null"]},"ogTitle":{"type":["string","null"]},"ogDescription":{"type":["string","null"]},"bodyText":{"type":["string","null"]},"fetchedAt":{"type":"string"},"createdAt":{"type":"string"},"updatedAt":{"type":"string"},"h2Count":{"type":"integer","minimum":0},"h2Text":{"type":"array","items":{"type":"string"}},"h3Count":{"type":"integer","minimum":0},"h3Text":{"type":"array","items":{"type":"string"}},"hierarchyBroken":{"type":"boolean"},"hierarchyIssue":{"type":["string","null"]},"missingAltCount":{"type":"integer","minimum":0},"noindexDetected":{"type":"boolean"},"nofollowDetected":{"type":"boolean"},"viewportPresent":{"type":"boolean"},"viewportCorrect":{"type":"boolean"},"images":{"type":"array","items":{"type":"object","properties":{"src":{"type":"string"},"alt":{"type":"string"}},"required":["src","alt"]}},"internalLinks":{"type":"array","items":{"type":"string"}},"externalLinks":{"type":"array","items":{"type":"string"}},"keywordPlacement":{"type":["object","null"],"properties":{"inTitle":{"type":"boolean"},"inH1":{"type":"boolean"},"inMetaDescription":{"type":"boolean"},"inFirst100Words":{"type":"boolean"},"inImageAlt":{"type":"boolean"},"inUrlSlug":{"type":"boolean"}},"required":["inTitle","inH1","inMetaDescription","inFirst100Words","inImageAlt","inUrlSlug"]},"keywordDensity":{"type":["object","null"],"properties":{"frequency":{"type":"integer","minimum":0},"percentage":{"type":"number"},"topBigrams":{"type":"array","items":{"type":"object","properties":{"phrase":{"type":"string"},"count":{"type":"integer","minimum":0},"percentage":{"type":"number"}},"required":["phrase","count","percentage"]}},"topTrigrams":{"type":"array","items":{"type":"object","properties":{"phrase":{"type":"string"},"count":{"type":"integer","minimum":0},"percentage":{"type":"number"}},"required":["phrase","count","percentage"]}}},"required":["frequency","percentage","topBigrams","topTrigrams"]}},"required":["id","url","domain","title","titleLength","metaDescription","metaDescriptionLength","h1","h1Count","wordCount","schemaTypes","headings","schemas","imageAlts","internalLinkCount","externalLinkCount","canonicalUrl","ogImage","ogTitle","ogDescription","bodyText","fetchedAt","createdAt","updatedAt","h2Count","h2Text","h3Count","h3Text","hierarchyBroken","hierarchyIssue","missingAltCount","noindexDetected","nofollowDetected","viewportPresent","viewportCorrect"]}},"required":["success","schemaVersion","data"]},"PageHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"current":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fetchedAt":{"type":"string"},"title":{"type":["string","null"]},"metaDescription":{"type":["string","null"]},"h1":{"type":["string","null"]},"wordCount":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"headings":{"type":"array","items":{"type":"object","properties":{"level":{"type":"integer"},"text":{"type":"string"}},"required":["level","text"]}},"schemas":{"type":"array","items":{}},"imageAlts":{"type":"array","items":{"type":"string"}},"internalLinkCount":{"type":["integer","null"]},"externalLinkCount":{"type":["integer","null"]},"bodyText":{"type":["string","null"]}},"required":["id","fetchedAt","title","metaDescription","h1","wordCount","schemaTypes","headings","schemas","imageAlts","internalLinkCount","externalLinkCount","bodyText"]},"history":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"fetchedAt":{"type":"string"},"title":{"type":["string","null"]},"metaDescription":{"type":["string","null"]},"h1":{"type":["string","null"]},"wordCount":{"type":"integer","minimum":0},"schemaTypes":{"type":"array","items":{"type":"string"}},"headings":{"type":"array","items":{"type":"object","properties":{"level":{"type":"integer"},"text":{"type":"string"}},"required":["level","text"]}},"schemas":{"type":"array","items":{}},"imageAlts":{"type":"array","items":{"type":"string"}},"internalLinkCount":{"type":["integer","null"]},"externalLinkCount":{"type":["integer","null"]},"bodyText":{"type":["string","null"]}},"required":["id","fetchedAt","title","metaDescription","h1","wordCount","schemaTypes","headings","schemas","imageAlts","internalLinkCount","externalLinkCount","bodyText"]}}},"required":["current","history"]}},"required":["success","schemaVersion","data"]},"PagePagespeedResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"pageId":{"type":"string","format":"uuid"},"url":{"type":"string"},"performanceScore":{"type":["number","null"]},"lcpMs":{"type":["number","null"]},"cls":{"type":["number","null"]},"lcpElement":{"type":["string","null"]},"largeResources":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"size":{"type":"number"},"sizeKb":{"type":"number"},"type":{"type":"string"}},"required":["url","size","sizeKb","type"]}},"clsCulprits":{"type":"array","items":{"type":"string"}}},"required":["pageId","url","performanceScore","lcpMs","cls","lcpElement","largeResources","clsCulprits"]}},"required":["success","schemaVersion","data"]},"ContentPagesListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["4"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/ContentPage"}},"summary":{"type":"object","properties":{"totalPages":{"type":"integer","minimum":0},"totalKeywords":{"type":"integer","minimum":0},"pagesWithKeywords":{"type":"integer","minimum":0},"offPageKeywords":{"type":"integer","minimum":0}},"required":["totalPages","totalKeywords","pagesWithKeywords","offPageKeywords"]}},"required":["items","summary"]}},"required":["success","schemaVersion","data"]},"ContentPage":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":["string","null"]},"title":{"type":"string"},"status":{"type":"string"},"groupId":{"type":["string","null"],"format":"uuid"},"keywords":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"phrase":{"type":"string"},"role":{"type":"string","enum":["primary","secondary"]},"status":{"type":"string","enum":["active","queued"]},"currentPosition":{"type":["integer","null"]},"previousPosition":{"type":["integer","null"]},"positionChange":{"type":["integer","null"]},"rankingUrl":{"type":["string","null"]},"assignedPagePosition":{"type":["integer","null"]},"isOffPage":{"type":"boolean"}},"required":["id","phrase","role","status","currentPosition","previousPosition","positionChange","rankingUrl","assignedPagePosition","isOffPage"]}},"offPageKeywords":{"type":"integer","minimum":0},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","url","title","status","groupId","keywords","offPageKeywords","createdAt","updatedAt"]},"ContentPagesSyncResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"sitemapPages":{"type":"integer","minimum":0},"imported":{"type":"integer","minimum":0},"removed":{"type":"integer","minimum":0},"skipped":{"type":"integer","minimum":0}},"required":["sitemapPages","imported","removed","skipped"]}},"required":["success","schemaVersion","data"]},"ContentPageGroupAssignResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"pageId":{"type":"string","format":"uuid"},"groupId":{"type":["string","null"],"format":"uuid"}},"required":["pageId","groupId"]}},"required":["success","schemaVersion","data"]},"ContentPageKeywordAssignResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"pageId":{"type":"string","format":"uuid"},"keywordId":{"type":"string","format":"uuid"},"role":{"type":"string","enum":["primary","secondary"]}},"required":["pageId","keywordId","role"]}},"required":["success","schemaVersion","data"]},"ContentPageKeywordDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"deleted":{"type":"boolean","enum":[true]}},"required":["deleted"]}},"required":["success","schemaVersion","data"]},"ContentPageGroupsListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/ContentPageGroup"}}},"required":["success","schemaVersion","data"]},"ContentPageGroup":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"name":{"type":"string"},"displayOrder":{"type":"integer"},"pageCount":{"type":"integer","minimum":0},"createdAt":{"type":"string"},"updatedAt":{"type":"string"}},"required":["id","name","displayOrder","pageCount","createdAt","updatedAt"]},"ContentPageGroupCreateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"$ref":"#/components/schemas/ContentPageGroup"}},"required":["success","schemaVersion","data"]},"ContentPageGroupUpdateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"updated":{"type":"boolean","enum":[true]}},"required":["updated"]}},"required":["success","schemaVersion","data"]},"ContentPageGroupDeleteResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"deleted":{"type":"boolean","enum":[true]}},"required":["deleted"]}},"required":["success","schemaVersion","data"]},"BacklinksSummaryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"referringDomains":{"type":"integer","minimum":0},"totalBacklinks":{"type":"integer","minimum":0},"gained30d":{"type":"integer","minimum":0},"lost30d":{"type":"integer","minimum":0},"competitorGained30d":{"type":"integer","minimum":0},"netChange":{"type":"integer"},"trend":{"type":"string","enum":["up","down","stable"]}},"required":["referringDomains","totalBacklinks","gained30d","lost30d","competitorGained30d","netChange","trend"]}},"required":["success","schemaVersion","data"]},"BacklinksActivityResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"summary":{"type":"object","properties":{"tenantGainedLast30Days":{"type":"integer","minimum":0},"tenantLostLast30Days":{"type":"integer","minimum":0},"competitorGainedLast30Days":{"type":"integer","minimum":0},"netChange":{"type":"integer"},"trend":{"type":"string","enum":["up","down","stable"]}},"required":["tenantGainedLast30Days","tenantLostLast30Days","competitorGainedLast30Days","netChange","trend"]},"weeks":{"type":"array","items":{"$ref":"#/components/schemas/BacklinkWeeklyActivity"}}},"required":["summary","weeks"]},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"BacklinkWeeklyActivity":{"type":"object","properties":{"weekStart":{"type":"string"},"weekLabel":{"type":"string"},"tenant":{"type":"object","properties":{"gained":{"type":"integer","minimum":0},"lost":{"type":"integer","minimum":0},"gainedLinks":{"type":"array","items":{"type":"object","properties":{"sourceUrl":{"type":"string"},"sourceDomain":{"type":"string"},"anchorText":{"type":["string","null"]},"domainAuthority":{"type":["number","null"]}},"required":["sourceUrl","sourceDomain","anchorText","domainAuthority"]}},"lostLinks":{"type":"array","items":{"type":"object","properties":{"sourceUrl":{"type":"string"},"sourceDomain":{"type":"string"},"anchorText":{"type":["string","null"]},"domainAuthority":{"type":["number","null"]}},"required":["sourceUrl","sourceDomain","anchorText","domainAuthority"]}}},"required":["gained","lost","gainedLinks","lostLinks"]},"competitors":{"type":"object","properties":{"gained":{"type":"integer","minimum":0},"topGainers":{"type":"array","items":{"type":"object","properties":{"competitorDomain":{"type":"string"},"sourceUrl":{"type":["string","null"]},"sourceDomain":{"type":"string"},"anchorText":{"type":["string","null"]},"domainAuthority":{"type":["number","null"]}},"required":["competitorDomain","sourceUrl","sourceDomain","anchorText","domainAuthority"]}}},"required":["gained","topGainers"]}},"required":["weekStart","weekLabel","tenant","competitors"]},"BacklinksOpportunitiesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/BacklinkOpportunity"}},"totalAvailable":{"type":"integer","minimum":0},"mode":{"type":"string","enum":["pitbull"]}},"required":["items","totalAvailable"]}},"required":["success","schemaVersion","data"]},"BacklinkOpportunity":{"type":"object","properties":{"sourceDomain":{"type":"string"},"domainAuthority":{"type":["number","null"]},"competitorCount":{"type":"integer","minimum":0},"competitorDomains":{"type":"array","items":{"type":"string"}}},"required":["sourceDomain","domainAuthority","competitorCount","competitorDomains"]},"BacklinksOpportunitiesGlobalResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/BacklinkOpportunity"}},"totalAvailable":{"type":"integer","minimum":0}},"required":["items","totalAvailable"]}},"required":["success","schemaVersion","data"]},"BacklinksListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/TenantBacklink"}},"pagination":{"$ref":"#/components/schemas/Pagination"},"summary":{"type":"object","properties":{"trackedSince":{"type":["string","null"],"description":"Date this tenant onboarded — the anchor for what \"since onboarding\" means in this response. URL-level backlinks accrued before this date are captured at the domain level only; use /api/v1/backlinks/referring-domains for the full inventory."}},"required":["trackedSince"]}},"required":["success","schemaVersion","data","pagination","summary"]},"TenantBacklink":{"type":"object","properties":{"sourceUrl":{"type":"string","description":"URL of the page linking to your domain."},"sourceDomain":{"type":"string","description":"Root domain of the linking page."},"anchorText":{"type":["string","null"],"description":"Anchor text of the link, if Moz returned one."},"domainAuthority":{"type":["number","null"],"description":"Moz Domain Authority of the source domain at the time of discovery."},"firstSeenAt":{"type":["string","null"],"description":"Date the weekly delta sync first observed this URL as a backlink to your domain."},"lastSeenAt":{"type":["string","null"],"description":"Most recent date the weekly delta sync saw any event (gained or lost) for this URL."}},"required":["sourceUrl","sourceDomain","anchorText","domainAuthority","firstSeenAt","lastSeenAt"]},"BacklinksReferringDomainsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/ReferringDomain"}},"pagination":{"$ref":"#/components/schemas/Pagination"}},"required":["success","schemaVersion","data","pagination"]},"ReferringDomain":{"type":"object","properties":{"sourceDomain":{"type":"string"},"domainAuthority":{"type":["number","null"]},"spamScore":{"type":["number","null"]},"externalPagesToTarget":{"type":["number","null"]},"status":{"type":"string","description":"active | lost"},"firstSeenAt":{"type":["string","null"]},"lastSeenAt":{"type":["string","null"]}},"required":["sourceDomain","domainAuthority","spamScore","externalPagesToTarget","status","firstSeenAt","lastSeenAt"]},"AiVisibilityResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"visibility":{"type":"object","properties":{"overall":{"type":"object","properties":{"mentionRate":{"type":"number"},"avgRank":{"type":["number","null"]},"bestRank":{"type":["integer","null"]},"totalResponses":{"type":"integer","minimum":0},"lastFetched":{"type":["string","null"]}},"required":["mentionRate","avgRank","bestRank","totalResponses","lastFetched"]},"byPersona":{"type":"array","items":{"type":"object","properties":{"visibilityId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"persona":{"type":"string"},"promptSlug":{"type":["string","null"]},"promptName":{"type":["string","null"]},"promptText":{"type":["string","null"]},"tenantMentioned":{"type":"boolean"},"tenantRank":{"type":["integer","null"]},"mentionedBusinesses":{"type":"array","items":{"$ref":"#/components/schemas/AiVisibilityBusinessMention"}},"totalBusinesses":{"type":"integer","minimum":0},"weekNumber":{"type":["integer","null"]},"rotationOrder":{"type":["integer","null"]},"fetchedAt":{"type":"string"},"hasCitations":{"type":"boolean"},"citationSummary":{"type":"object","properties":{"businessesWithCitations":{"type":"integer","minimum":0},"unattributedSources":{"type":"integer","minimum":0}},"required":["businessesWithCitations","unattributedSources"]}},"required":["visibilityId","persona","promptSlug","promptName","promptText","tenantMentioned","tenantRank","mentionedBusinesses","totalBusinesses","weekNumber","rotationOrder","fetchedAt","hasCitations","citationSummary"]}},"trend":{"type":"object","properties":{"previousPeriod":{"type":["object","null"],"properties":{"mentionRate":{"type":"number"},"avgRank":{"type":["number","null"]}},"required":["mentionRate","avgRank"]}},"required":["previousPeriod"]}},"required":["overall","byPersona","trend"]},"sentiment":{"type":["object","null"],"properties":{"found":{"type":"boolean"},"summary":{"type":["string","null"]},"positiveThemes":{"type":"array","items":{"type":"string"}},"negativeThemes":{"type":"array","items":{"type":"string"}},"notableMentions":{"type":"array","items":{"type":"string"}},"competitorComparisons":{"type":"array","items":{"type":"string"}},"overallSentiment":{"type":"string","enum":["positive","mixed","negative","unknown"]},"confidence":{"type":"string","enum":["high","medium","low"]},"confidenceNote":{"type":"string"},"fetchedAt":{"type":"string"}},"required":["found","summary","positiveThemes","negativeThemes","notableMentions","competitorComparisons","overallSentiment","confidence","confidenceNote","fetchedAt"]},"discoveredCompetitors":{"type":"array","items":{"type":"object","properties":{"name":{"type":"string"},"domain":{"type":["string","null"]},"domainConfidence":{"type":"string","enum":["high","medium","low","unknown"]},"mentionCount":{"type":"integer","minimum":0},"personas":{"type":"array","items":{"type":"string"}},"hasMetrics":{"type":"boolean"},"competitorId":{"type":["string","null"]}},"required":["name","domain","domainConfidence","mentionCount","personas","hasMetrics","competitorId"]}}},"required":["visibility","sentiment","discoveredCompetitors"]},"notices":{"type":"array","items":{"$ref":"#/components/schemas/AiVisibilityNotice"}}},"required":["success","schemaVersion","data"]},"AiVisibilityBusinessMention":{"type":"object","properties":{"name":{"type":"string"},"domain":{"type":["string","null"]},"domainConfidence":{"type":"string","enum":["high","medium","low","unknown"]},"rank":{"type":"integer"},"reasons":{"type":"array","items":{"type":"string"}},"isTenant":{"type":"boolean"},"competitorId":{"type":["string","null"]}},"required":["name","domain","domainConfidence","rank","reasons","isTenant","competitorId"]},"AiVisibilityNotice":{"type":"object","properties":{"id":{"type":"string"},"severity":{"type":"string","enum":["info","warning"]},"title":{"type":"string"},"message":{"type":"string"},"learnMoreUrl":{"type":"string"},"sunsetAt":{"type":"string"}},"required":["id","severity","title","message"]},"AiVisibilityQueryDetailResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"visibilityId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"marketId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"persona":{"type":"string"},"promptSlug":{"type":["string","null"]},"promptText":{"type":["string","null"]},"responseText":{"type":["string","null"]},"fetchedAt":{"type":"string"},"searchQueries":{"type":"array","items":{"type":"object","properties":{"queryText":{"type":"string"},"queryPosition":{"type":"integer"}},"required":["queryText","queryPosition"]}},"businesses":{"type":"array","items":{"type":"object","properties":{"businessId":{"type":"string"},"name":{"type":"string"},"rank":{"type":"integer"},"domain":{"type":["string","null"]},"reasons":{"type":"array","items":{"type":"string"}},"isTenant":{"type":"boolean"},"competitorId":{"type":["string","null"]},"competitorLabel":{"type":["string","null"]},"supportingSources":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"urlNormalized":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"citedText":{"type":"string"},"citedPassages":{"type":"integer","minimum":0},"passages":{"type":"array","items":{"type":"object","properties":{"citedText":{"type":"string"},"passagePosition":{"type":"integer"}},"required":["citedText","passagePosition"]}},"movement":{"type":["string","null"],"enum":["new","retained","dropped",null]}},"required":["url","urlNormalized","domain","title","citedText","citedPassages","passages","movement"]}}},"required":["businessId","name","rank","domain","reasons","isTenant","competitorId","competitorLabel","supportingSources"]}},"unattributedSources":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"urlNormalized":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"citedText":{"type":"string"},"citedPassages":{"type":"integer","minimum":0},"passages":{"type":"array","items":{"type":"object","properties":{"citedText":{"type":"string"},"passagePosition":{"type":"integer"}},"required":["citedText","passagePosition"]}},"movement":{"type":["string","null"],"enum":["new","retained","dropped",null]}},"required":["url","urlNormalized","domain","title","citedText","citedPassages","passages","movement"]}},"consideredSources":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"},"urlNormalized":{"type":"string"},"domain":{"type":"string"},"title":{"type":["string","null"]},"citedText":{"type":"string"},"citedPassages":{"type":"integer","minimum":0},"passages":{"type":"array","items":{"type":"object","properties":{"citedText":{"type":"string"},"passagePosition":{"type":"integer"}},"required":["citedText","passagePosition"]}},"movement":{"type":["string","null"],"enum":["new","retained","dropped",null]}},"required":["url","urlNormalized","domain","title","citedText","citedPassages","passages","movement"]}},"previousVisibilityId":{"type":["string","null"],"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"}},"required":["visibilityId","marketId","persona","promptSlug","promptText","responseText","fetchedAt","searchQueries","businesses","unattributedSources","consideredSources","previousVisibilityId"]},"notices":{"type":"array","items":{"$ref":"#/components/schemas/AiVisibilityNotice"}}},"required":["success","schemaVersion","data"]},"AiVisibilityWeeklyResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"weekNumber":{"type":["integer","null"]},"fetchedAt":{"type":["string","null"]},"results":{"type":"array","items":{"type":"object","properties":{"visibilityId":{"type":["string","null"],"pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"promptName":{"type":"string"},"promptText":{"type":["string","null"]},"responseText":{"type":["string","null"]},"tenantMentioned":{"type":"boolean"},"tenantRank":{"type":["integer","null"]},"mentionedBusinesses":{"type":"array","items":{"$ref":"#/components/schemas/AiVisibilityBusinessMention"}},"hasCitations":{"type":"boolean"},"citationSummary":{"type":"object","properties":{"businessesWithCitations":{"type":"integer","minimum":0},"unattributedSources":{"type":"integer","minimum":0}},"required":["businessesWithCitations","unattributedSources"]},"fetchedAt":{"type":["string","null"]},"weekNumber":{"type":["integer","null"]},"rotationOrder":{"type":["integer","null"]}},"required":["visibilityId","promptName","promptText","responseText","tenantMentioned","tenantRank","mentionedBusinesses","hasCitations","citationSummary","fetchedAt","weekNumber","rotationOrder"]}},"availableWeeks":{"type":"array","items":{"type":"object","properties":{"weekNumber":{"type":"integer"},"fetchedAt":{"type":"string"}},"required":["weekNumber","fetchedAt"]}}},"required":["weekNumber","fetchedAt","results","availableWeeks"]},"notices":{"type":"array","items":{"$ref":"#/components/schemas/AiVisibilityNotice"}}},"required":["success","schemaVersion","data"]},"AiVisibilityInsightsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"queries":{"type":"array","items":{"type":"object","properties":{"queryText":{"type":"string"}},"required":["queryText"]}},"sources":{"type":"array","items":{"type":"object","properties":{"url":{"type":"string"}},"required":["url"]}}}}},"required":["success","schemaVersion","data"]},"ImageAnalysisListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/ImageAnalysisItem"}},"pagination":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"limit":{"type":"integer","exclusiveMinimum":0},"offset":{"type":"integer","minimum":0},"hasMore":{"type":"boolean"}},"required":["total","limit","offset","hasMore"]},"summary":{"type":"object","properties":{"total":{"type":"integer","minimum":0},"completed":{"type":"integer","minimum":0},"needs_alt":{"type":"integer","minimum":0},"decorative":{"type":"integer","minimum":0},"skipped":{"type":"integer","minimum":0},"failed":{"type":"integer","minimum":0},"by_source":{"type":"object","properties":{"cron":{"type":"integer","minimum":0},"manual":{"type":"integer","minimum":0},"api":{"type":"integer","minimum":0}},"required":["cron","manual","api"]}},"required":["total","completed","needs_alt","decorative","skipped","failed","by_source"]}},"required":["success","schemaVersion","data","pagination","summary"]},"ImageAnalysisItem":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"pageUrl":{"type":"string"},"imageSrc":{"type":"string"},"imageIndex":{"type":"integer"},"currentAlt":{"type":"string"},"currentFilename":{"type":"string"},"suggestedAlt":{"type":["string","null"]},"suggestedTitle":{"type":["string","null"]},"suggestedFilename":{"type":["string","null"]},"suggestedDescription":{"type":["string","null"]},"isDecorative":{"type":"boolean"},"imageCategory":{"type":["string","null"]},"suggestedSchema":{"type":["object","null"],"additionalProperties":{}},"analysisStatus":{"type":"string"},"analyzedAt":{"type":["string","null"]},"fileSizeBytes":{"type":["integer","null"]},"contentType":{"type":["string","null"]},"widthAttr":{"type":["integer","null"]},"heightAttr":{"type":["integer","null"]},"loadingAttr":{"type":["string","null"]},"isLazyLoaded":{"type":"boolean"},"source":{"type":"string","enum":["cron","manual","api"]}},"required":["id","pageUrl","imageSrc","imageIndex","currentAlt","currentFilename","suggestedAlt","suggestedTitle","suggestedFilename","suggestedDescription","isDecorative","imageCategory","suggestedSchema","analysisStatus","analyzedAt","fileSizeBytes","contentType","widthAttr","heightAttr","loadingAttr","isLazyLoaded","source"]},"ImageAnalysisGenerateResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"pageUrl":{"type":"string"},"imageSrc":{"type":"string"},"currentFilename":{"type":"string"},"suggestedAlt":{"type":["string","null"]},"suggestedTitle":{"type":["string","null"]},"suggestedFilename":{"type":["string","null"]},"suggestedDescription":{"type":["string","null"]},"isDecorative":{"type":"boolean"},"imageCategory":{"type":["string","null"]},"suggestedSchema":{"type":["object","null"],"additionalProperties":{}},"attributionSuffix":{"type":["string","null"]},"analysisStatus":{"type":"string"},"errorMessage":{"type":["string","null"]},"source":{"type":"string","enum":["cron","manual","api"]}},"required":["pageUrl","imageSrc","currentFilename","suggestedAlt","suggestedTitle","suggestedFilename","suggestedDescription","isDecorative","imageCategory","suggestedSchema","attributionSuffix","analysisStatus","errorMessage","source"]},"quota":{"type":"object","properties":{"used":{"type":"integer","minimum":0},"limit":{"type":"integer","minimum":0},"resetsAt":{"type":"string"}},"required":["used","limit","resetsAt"]}},"required":["success","schemaVersion","data","quota"]},"ImageAnalysisQuotaResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"used":{"type":"integer","minimum":0},"limit":{"type":"integer","minimum":0},"resetsAt":{"type":"string"}},"required":["used","limit","resetsAt"]}},"required":["success","schemaVersion","data"]},"ImageAnalysisExportResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"array","items":{"type":"object","properties":{"source":{"type":"string","enum":["cron","manual","api"]},"page_url":{"type":"string"},"image_src":{"type":"string"},"current_alt":{"type":"string"},"current_filename":{"type":"string"},"suggested_alt":{"type":["string","null"]},"attribution_suffix":{"type":["string","null"]},"assembled_alt":{"type":["string","null"]},"suggested_title":{"type":["string","null"]},"suggested_filename":{"type":["string","null"]},"suggested_description":{"type":["string","null"]},"is_decorative":{"type":"boolean"},"image_category":{"type":["string","null"]},"suggested_schema":{"type":["object","null"],"additionalProperties":{}},"analysis_status":{"type":"string"},"analyzed_at":{"type":["string","null"]},"file_size_bytes":{"type":["integer","null"]},"content_type":{"type":["string","null"]},"width_attr":{"type":["integer","null"]},"height_attr":{"type":["integer","null"]},"loading_attr":{"type":["string","null"]},"is_lazy_loaded":{"type":"boolean"}},"required":["source","page_url","image_src","current_alt","current_filename","suggested_alt","attribution_suffix","assembled_alt","suggested_title","suggested_filename","suggested_description","is_decorative","image_category","suggested_schema","analysis_status","analyzed_at","file_size_bytes","content_type","width_attr","height_attr","loading_attr","is_lazy_loaded"]}},"summary":{"type":"object","properties":{"domain":{"type":"string"},"count":{"type":"integer","minimum":0}},"required":["domain","count"]}},"required":["success","schemaVersion","data","summary"]},"SiteHealthResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"healthScore":{"type":["number","null"]},"checkedAt":{"type":["string","null"]},"issueCount":{"type":"integer","minimum":0},"siteIssueCount":{"type":"integer","minimum":0},"pageIssueCount":{"type":"integer","minimum":0},"platform":{"type":"object","properties":{"platform":{"type":"string"},"platformDisplay":{"type":"string"},"confidence":{"type":"string"},"signals":{"type":"array","items":{"type":"string"}},"sitemapAutoGenerates":{"type":"boolean"},"sitemapLocation":{"type":"string"},"sitemapPluginRequired":{"type":"boolean"},"sitemapInstructions":{"type":"string"}},"required":["platform","platformDisplay","confidence","signals","sitemapAutoGenerates","sitemapLocation","sitemapPluginRequired","sitemapInstructions"]},"sitemap":{"type":"object","properties":{"sitemapUrl":{"type":"string"},"urlCount":{"type":"integer","minimum":0},"lastModified":{"type":["string","null"]},"staleDays":{"type":["integer","null"]}},"required":["sitemapUrl","urlCount","lastModified","staleDays"]},"robots":{"type":"object","properties":{"blockedPaths":{"type":"array","items":{"type":"string"}},"robotsContent":{"type":"string"}},"required":["blockedPaths","robotsContent"]},"schemaTypes":{"type":"array","items":{"type":"string"}},"issues":{"type":"array","items":{"$ref":"#/components/schemas/SiteHealthIssue"}}},"required":["healthScore","checkedAt","issueCount","siteIssueCount","pageIssueCount","platform","sitemap","robots","schemaTypes","issues"]}},"required":["success","schemaVersion","data"]},"SiteHealthIssue":{"type":"object","properties":{"code":{"type":"string"},"source":{"type":"string","enum":["site","page"]},"severity":{"type":"string","enum":["critical","warning","info"]},"message":{"type":"string"},"tooltip":{"type":"string"},"affectedPages":{"type":"array","items":{"type":"string"}},"dismissed":{"type":"boolean"}},"required":["code","source","severity","message","dismissed"]},"SiteHealthBrokenLinksResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/BrokenLink"}}},"required":["success","schemaVersion","data"]},"BrokenLink":{"type":"object","properties":{"url":{"type":"string"},"statusCode":{"type":"integer"},"sourcePages":{"type":"array","items":{"type":"string"}}},"required":["url","statusCode","sourcePages"]},"SiteHealthHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/SiteHealthHistoryEntry"}}},"required":["success","schemaVersion","data"]},"SiteHealthHistoryEntry":{"type":"object","properties":{"health_score":{"type":"number"},"sitemap_exists":{"type":"boolean"},"sitemap_stale_days":{"type":["integer","null"]},"robots_exists":{"type":"boolean"},"llms_txt_exists":{"type":"boolean"},"schema_count":{"type":"integer","minimum":0},"checked_at":{"type":"string"}},"required":["health_score","sitemap_exists","sitemap_stale_days","robots_exists","llms_txt_exists","schema_count","checked_at"]},"UptimeResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/MonitoredSite"}}},"required":["success","schemaVersion","data"]},"MonitoredSite":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"url":{"type":"string"},"label":{"type":["string","null"]},"isActive":{"type":"boolean"},"checkIntervalSeconds":{"type":"integer","exclusiveMinimum":0},"lastCheckAt":{"type":["string","null"]},"lastStatus":{"type":["string","null"]},"lastStatusCode":{"type":["integer","null"]},"lastResponseMs":{"type":["integer","null"]},"lastError":{"type":["string","null"]},"consecutiveFailures":{"type":"integer","minimum":0},"lastIncidentAt":{"type":["string","null"]},"createdAt":{"type":"string"}},"required":["id","url","label","isActive","checkIntervalSeconds","lastCheckAt","lastStatus","lastStatusCode","lastResponseMs","lastError","consecutiveFailures","lastIncidentAt","createdAt"]},"UptimeChecksResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/UptimeCheck"}}},"required":["success","schemaVersion","data"]},"UptimeCheck":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"siteId":{"type":"string","format":"uuid"},"status":{"type":"string"},"statusCode":{"type":["integer","null"]},"responseMs":{"type":["integer","null"]},"error":{"type":["string","null"]},"isVerification":{"type":"boolean"},"checkedAt":{"type":"string"}},"required":["id","siteId","status","statusCode","responseMs","error","isVerification","checkedAt"]},"UptimeIncidentsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/UptimeIncident"}}},"required":["success","schemaVersion","data"]},"UptimeIncident":{"type":"object","properties":{"id":{"type":"string","format":"uuid"},"siteId":{"type":"string","format":"uuid"},"startedAt":{"type":"string"},"resolvedAt":{"type":["string","null"]},"durationSeconds":{"type":["integer","null"]},"cause":{"type":"string"},"alertSent":{"type":"boolean"},"createdAt":{"type":"string"}},"required":["id","siteId","startedAt","resolvedAt","durationSeconds","cause","alertSent","createdAt"]},"SeoScoreResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"score":{"type":"number"},"componentScores":{"type":["object","null"],"properties":{"rankings":{"type":"number"},"coverage":{"type":"number"},"momentum":{"type":"number"},"authority":{"type":"number"},"opportunity":{"type":"number"},"reviews":{"type":"number"},"brand":{"type":"number"},"visibility":{"type":"number"}},"required":["rankings","coverage","momentum","authority","opportunity","reviews","brand","visibility"]},"domainAuthority":{"type":["number","null"]},"brandAuthority":{"type":["number","null"]},"brandAuthorityTrend":{"description":"Period-over-period brand authority delta"},"keywordCount":{"type":"integer","minimum":0},"competitorCount":{"type":"integer","minimum":0},"computedAt":{"type":["string","null"]}},"required":["score","componentScores","domainAuthority","brandAuthority","keywordCount","competitorCount","computedAt"]}},"required":["success","schemaVersion","data"]},"SeoScoreHistoryResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/SeoScoreHistoryEntry"}}},"required":["success","schemaVersion","data"]},"SeoScoreHistoryEntry":{"type":"object","properties":{"score":{"type":"number"},"componentScores":{"type":["object","null"],"properties":{"rankings":{"type":"number"},"coverage":{"type":"number"},"momentum":{"type":"number"},"authority":{"type":"number"},"opportunity":{"type":"number"},"reviews":{"type":"number"},"brand":{"type":"number"},"visibility":{"type":"number"}},"required":["rankings","coverage","momentum","authority","opportunity","reviews","brand","visibility"]},"recordedDate":{"type":"string"}},"required":["score","componentScores","recordedDate"]},"SerpFeaturesOpportunitiesResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"opportunities":{"type":"array","items":{"$ref":"#/components/schemas/SerpFeatureOpportunity"}},"count":{"type":"integer","minimum":0},"securedCount":{"type":"integer","minimum":0}},"required":["opportunities","count","securedCount"]}},"required":["success","schemaVersion","data"]},"SerpFeatureOpportunity":{"type":"object","properties":{"keywordId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"phrase":{"type":"string"},"featureType":{"type":"string"},"appearanceCount":{"type":"integer","minimum":0},"ownedCount":{"type":"integer","minimum":0},"secured":{"type":"boolean"}},"required":["keywordId","phrase","featureType","appearanceCount","ownedCount","secured"]},"SerpFeaturesOwnershipResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"items":{"type":"array","items":{"$ref":"#/components/schemas/SerpFeatureOwnership"}},"summary":{"type":"object","properties":{"byFeatureType":{"type":"object","additionalProperties":{"type":"integer","minimum":0}},"uniqueDomains":{"type":"integer","minimum":0},"ownDomainAppearances":{"type":"integer","minimum":0}},"required":["byFeatureType","uniqueDomains","ownDomainAppearances"]}},"required":["items","summary"]}},"required":["success","schemaVersion","data"]},"SerpFeatureOwnership":{"type":"object","properties":{"featureId":{"type":"string"},"keywordId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"keyword":{"type":"string"},"featureType":{"type":"string"},"domain":{"type":"string"},"entityName":{"type":["string","null"]},"position":{"type":["integer","null"]},"rating":{"type":["number","null"]},"reviewCount":{"type":["integer","null"]},"contentPreview":{"type":["string","null"]},"fetchedAt":{"type":"string"},"isOwnDomain":{"type":"boolean"}},"required":["featureId","keywordId","keyword","featureType","domain","entityName","position","rating","reviewCount","contentPreview","fetchedAt","isOwnDomain"]},"SerpFeaturesVisibilityResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"competitors":{"type":"array","items":{"$ref":"#/components/schemas/CompetitorSerpVisibility"}},"totalCompetitors":{"type":"integer","minimum":0}},"required":["competitors","totalCompetitors"]}},"required":["success","schemaVersion","data"]},"CompetitorSerpVisibility":{"type":"object","properties":{"domain":{"type":"string"},"localPack":{"type":"object","properties":{"appearances":{"type":"integer","minimum":0},"avgPosition":{"type":["number","null"]},"avgRating":{"type":["number","null"]},"avgReviews":{"type":["number","null"]}},"required":["appearances","avgPosition","avgRating","avgReviews"]},"featuredSnippetCount":{"type":"integer","minimum":0},"paaAnswers":{"type":"integer","minimum":0},"knowledgeGraph":{"type":"object","properties":{"count":{"type":"integer","minimum":0},"rating":{"type":["number","null"]},"reviews":{"type":["number","null"]}},"required":["count","rating","reviews"]},"imagePackAppearances":{"type":"integer","minimum":0},"totalSerpFeatures":{"type":"integer","minimum":0},"keywordsWithFeatures":{"type":"integer","minimum":0},"lastSeen":{"type":"string"},"isOwnDomain":{"type":"boolean"}},"required":["domain","localPack","featuredSnippetCount","paaAnswers","knowledgeGraph","imagePackAppearances","totalSerpFeatures","keywordsWithFeatures","lastSeen","isOwnDomain"]},"OpportunitiesListResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["2"]},"data":{"type":"object","properties":{"strikingDistance":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"object","properties":{"keywordId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"keyword":{"type":"string"},"currentPosition":{"type":"integer"},"bestRecentPosition":{"type":"integer"},"opportunityScore":{"type":"number"},"lastChecked":{"type":["string","null"]}},"required":["keywordId","keyword","currentPosition","bestRecentPosition","opportunityScore","lastChecked"]}},"count":{"type":"integer","minimum":0}},"required":["keywords","count"],"description":"Omitted when type=declining"},"declining":{"type":"object","properties":{"keywords":{"type":"array","items":{"type":"object","properties":{"keywordId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"keyword":{"type":"string"},"currentPosition":{"type":["integer","null"]},"previousPosition":{"type":["integer","null"]},"positionChange":{"type":["integer","null"]},"lastChecked":{"type":["string","null"]},"dismissed":{"type":"boolean"}},"required":["keywordId","keyword","currentPosition","previousPosition","positionChange","lastChecked","dismissed"]}},"count":{"type":"integer","minimum":0}},"required":["keywords","count"],"description":"Omitted when type=striking_distance"}}}},"required":["success","schemaVersion","data"]},"OpportunitiesVulnerableResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/VulnerableOpportunity"}},"total":{"type":"integer","minimum":0}},"required":["success","schemaVersion","data","total"]},"VulnerableOpportunity":{"type":"object","properties":{"keywordId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"keyword":{"type":"string"},"volume":{"type":["number","null"]},"tenantPosition":{"type":"integer"},"tenantScore":{"type":"number"},"competitor":{"type":"object","properties":{"position":{"type":"integer"},"domain":{"type":"string"},"url":{"type":"string"},"score":{"type":"number"},"redFlags":{"type":"object","properties":{"thinContent":{"type":"boolean"},"missingH1":{"type":"boolean"},"missingH2s":{"type":"boolean"},"missingSchema":{"type":"boolean"},"missingMetaDesc":{"type":"boolean"},"missingTitle":{"type":"boolean"},"missingSitemap":{"type":"boolean"},"missingImageAlts":{"type":"boolean"},"count":{"type":"integer","minimum":0}},"required":["thinContent","missingH1","missingH2s","missingSchema","missingMetaDesc","missingTitle","missingSitemap","missingImageAlts","count"]}},"required":["position","domain","url","score","redFlags"]},"gap":{"type":"number"},"weaknesses":{"type":"array","items":{"type":"string"}},"compositeScore":{"type":"number"},"previousAttempts":{"type":"integer","minimum":0},"dismissed":{"type":"boolean"}},"required":["keywordId","keyword","volume","tenantPosition","tenantScore","competitor","gap","weaknesses","compositeScore","previousAttempts","dismissed"]},"AchievementsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/EarnedAchievement"}}},"required":["success","schemaVersion","data"]},"EarnedAchievement":{"type":"object","properties":{"code":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"category":{"type":"string"},"icon":{"type":"string"},"rarity":{"type":"string","enum":["common","uncommon","rare","epic","legendary"]},"points":{"type":"integer"},"sortOrder":{"type":"integer"},"earnedAt":{"type":"string","description":"ISO 8601 timestamp"},"metadata":{"type":"object","additionalProperties":{}}},"required":["code","name","description","category","icon","rarity","points","sortOrder","earnedAt"]},"RecapsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"id":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"tenantId":{"type":"string","pattern":"^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"},"weekStart":{"type":"string"},"weekEnd":{"type":"string"},"recapText":{"type":"string"},"recapTone":{"type":["string","null"]},"keywordsImproved":{"type":"integer"},"keywordsDeclined":{"type":"integer"},"topKeyword":{"type":["string","null"]},"biggestGain":{"type":["integer","null"]},"biggestLoss":{"type":["integer","null"]},"daChange":{"type":["number","null"]},"newReviews":{"type":["integer","null"]},"competitorBacklinksGained":{"type":["integer","null"]},"generatedAt":{"type":"string"}},"required":["id","tenantId","weekStart","weekEnd","recapText","recapTone","keywordsImproved","keywordsDeclined","topKeyword","biggestGain","biggestLoss","daChange","newReviews","competitorBacklinksGained","generatedAt"]}},"required":["success","schemaVersion","data"]},"ReviewsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","additionalProperties":{}}},"required":["success","schemaVersion","data"]},"DomainMetricsResponse":{"type":"object","properties":{"success":{"type":"boolean","enum":[true]},"schemaVersion":{"type":"string","enum":["1"]},"data":{"type":"object","properties":{"domain":{"type":"string"},"domainAuthority":{"type":["number","null"]},"pageAuthority":{"type":["number","null"]},"spamScore":{"type":["number","null"]},"backlinkCount":{"type":["number","null"]},"referringDomains":{"type":["number","null"]},"brandAuthority":{"type":["number","null"]},"reviewCount":{"type":["number","null"]},"reviewRating":{"type":["number","null"]},"metricsHistory":{"type":["object","null"],"properties":{"domainAuthority":{"type":"array","items":{"type":"object","properties":{"date":{"type":"string"},"value":{"type":"number"}},"required":["date","value"]}},"pageAuthority":{"type":"array","items":{"type":"object","properties":{
[...]
